.total-amount {
  &__amount {
    font-size: 3.25rem !important;
    line-height: 3.2rem !important;
    font-weight: 700;
    margin-bottom: 0.75rem !important;

    small {
      font-size: 60%;
      vertical-align: bottom !important;
    }
  }
}
