<template>
  <v-form @submit="submit" v-model="formModel" ref="form" class="pa-4">
    <v-text-field
      label="ID"
      type="number"
      v-model.number="form.id"
      :rules="IDRules"
    />
    <v-text-field label="Name" v-model="form.name" :rules="nameRules" />
    <v-text-field label="RPC URL" v-model="form.RPCURL" :rules="RPCURLRules" />
    <v-text-field
      label="Chain ID"
      type="number"
      v-model.number="form.chainID"
    />
    <v-text-field label="Symbol" v-model="form.symbol" />
    <v-text-field label="Block Explorer URL" v-model="form.blockExplorerURL" />
    <v-btn block large type="submit">Add Network</v-btn>
  </v-form>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Network } from "@/common/models/network";
import { makeid } from "@/common/lib/makeid";
import { notify } from "@/common/store";
import { symbol } from "../../../lib/constants";

@Component({})
export default class AddNetwork extends Vue {
  formModel = true;
  defaultForm: Network = {
    id: 13371337,
    name: "TFN",
    RPCURL: "https://tfn.app",
    chainID: -1,
    symbol: symbol,
    blockExplorerURL: "https://tfn.app/explorer",
    removable: true
  };
  form: Network = { ...this.defaultForm };
  $refs!: {
    form: any;
  };

  IDRUles = [v => !!v || "ID is required"];
  RPCURLRules = [v => !!v || "RPC URL is required"];
  nameRules = [v => !!v || "Name is required"];

  submit() {
    this.$refs.form.validate();
    if (!this.formModel)
      return notify({
        text: "Please fill out all required fields",
        type: "error",
        duration: 4000
      });
    this.$emit("submit", this.form);
    this.form = { ...this.defaultForm };
  }
}
</script>

<style lang="scss" scoped></style>
