<template>
  <div>
    <div class="item" v-if="divider">
      <v-divider class="mx-4" />
    </div>
    <v-list-item ripple class="clickable px-4 py-1 item">
      <v-list-item-avatar class="avatar">
        <v-icon
          v-if="parseHexDecimal(transaction.balance_delta) >= 0"
          v-text="'call_received'"
          color="success"
        />
        <v-icon v-else color="primary" v-text="'send'" />
      </v-list-item-avatar>

      <v-list-item-content>
        <v-list-item-subtitle class="slightly-transparent">
          <span>{{ (transaction.now * 1000) | time("MMM DD") }}</span> -
          <span v-if="parseHexDecimal(transaction.balance_delta) >= 0"
            >received:</span
          >
          <span v-else>sent:</span>
        </v-list-item-subtitle>
        <v-list-item-subtitle class="subtitle-1">
          <span>{{ transaction.id | shortify(10) }}</span>
        </v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-action>
        <span
          v-if="parseHexDecimal(transaction.balance_delta) >= 0"
          class="success--text transaction-item__amount"
          >+{{
            parseHexDecimal(transaction.balance_delta) | gram(true, symbol)
          }}</span
        >
        <span v-else class="transaction-item__amount">{{
          parseHexDecimal(transaction.balance_delta) | gram(true, symbol)
        }}</span>
      </v-list-item-action>
    </v-list-item>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Emit, Watch, Prop } from "vue-property-decorator";
import { gram, time, shortify } from "@/common/lib/format";
import { themeColors } from "@/vuetify";
import { Tx } from "@/common/sdk";
import BigNumber from "bignumber.js";

@Component({
  filters: {
    gram,
    time,
    shortify
  }
})
export default class Transaction extends Vue {
  @Prop() transaction!: Tx;
  @Prop({ default: "" }) symbol!: string;
  @Prop({ default: true }) divider!: boolean;
  colors = themeColors;
  mounted() {}

  parseHexDecimal(value: string) {
    return new BigNumber(value || "0").toNumber();
  }
}
</script>

<style scoped lang="scss">
.item {
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;
}
.subtitle-1 {
  margin-top: 2px;
}

.avatar {
  border: 1px solid rgba(white, 0.15);

  .v-application.theme--light & {
    border: 1px solid rgba(black, 0.1);
  }

  .v-icon {
    transform: scale(0.7);
    &.is--flipped {
      transform: scale(0.7) scaleX(-1);
    }
  }
}

.transaction-item__amount {
  font-weight: 500;
  font-size: 15px;

  &:not(.success--text) {
    color: rgba(white, 0.7) !important;

    .theme--light & {
      color: rgba(black, 0.55) !important;
    }
  }
}
</style>
