<template>
  <div @click="open" class="wallet-item" :class="{ 'type--inset': inset }">
    <div class="item" v-if="divider">
      <v-divider :class="{ 'mx-4': inset }" />
    </div>

    <v-list-item
      class="px-4 py-2 item"
      name="wallet-item"
      selectable
      ripple
      @click="select"
    >
      <v-list-item-avatar :class="{ avatar: !wallet }" size="45">
        <v-icon v-if="!wallet" size="22">account_balance_wallet</v-icon>
        <identicon v-else :seed="wallet.addressObj.baddr" />
      </v-list-item-avatar>

      <v-list-item-content v-if="wallet">
        <v-list-item-title name="wallet-item-name" class="wallet-item__name">{{
          wallet.name
        }}</v-list-item-title>
        <v-list-item-subtitle class="wallet-item__addr">
          {{ wallet.addressObj.baddr | shortify(10) }}
        </v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-content v-else>
        <v-list-item-title>No wallet available</v-list-item-title>
        <v-list-item-subtitle>Add your first Wallet</v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-action v-if="wallet">
        <v-list-item-action-text class="wallet-item__balance">{{
          wallet.balance | gram(true, wallet.network.symbol)
        }}</v-list-item-action-text>
      </v-list-item-action>
    </v-list-item>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Emit, Watch, Prop } from "vue-property-decorator";
import { gram, time, shortify } from "@/common/lib/format";
import { Wallet } from "@/common/store/Wallet/Wallet";
import Identicon from "@/common/modules/wallet/components/Identicon.vue";

@Component({
  filters: {
    gram,
    time,
    shortify
  },
  components: {
    Identicon
  }
})
export default class WalletItem extends Vue {
  @Prop() wallet!: Wallet;
  @Prop() divider!: boolean;
  @Prop({ default: false }) inset!: boolean;
  @Prop() defaultWallet!: Wallet;
  qr = "";

  mounted() {
    this.getQR();
  }

  @Watch("wallet")
  getQR() {
    const { dispatch } = this.$store;
    if (!this.wallet) {
      this.qr = "";
      return;
    }
    dispatch("Common/getQR", this.wallet.addressObj.baddr)
      .then(qr => {
        this.qr = qr;
      })
      .catch(error =>
        dispatch("Common/Notifications/notify", {
          text: "Error getting QR code",
          type: "error",
          duration: 1500,
          payload: { error }
        })
      );
  }

  copy(str: string) {
    this.$emit("copy", str);
  }

  open() {
    this.$emit("open", this.wallet);
  }

  remove() {
    this.$emit("remove", this.wallet);
  }

  select() {
    this.$emit("select", this.wallet);
  }
}
</script>

<style scoped lang="scss">
.avatar {
  border: 1px solid rgba(grey, 0.2);
}

.wallet-item.type--inset {
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;
}

.wallet-item {
  &__name {
  }

  &__addr {
    margin-top: 2px;
  }

  &__balance {
    font-weight: 500;
    font-size: 14px;
    color: rgba(white, 0.7) !important;

    .theme--light & {
      color: rgba(black, 0.55) !important;
    }
  }
}
</style>
