<template>
  <div>
    Hello world

    <pre>{{ wallet }}</pre>
    <button @click="newWallet">Create Wallet</button>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "@vue/composition-api";
import { newWallet, NewWallet } from "@/common/sdk";

const component = defineComponent({
  setup() {
    const wallet = ref<NewWallet | null>(null);

    onMounted(async () => {});

    return {
      wallet,
      async newWallet() {
        console.log(123);
        const w = await newWallet();
        wallet.value = w;
      }
    };
  }
});

export default component;
</script>
