<template>
  <Page>
    <PageHeader :padding="false">
      <v-tabs
        v-model="tab"
        class="mt-6"
        :mobile-break-point="500"
        color="white"
        centered
        background-color="primary"
      >
        <v-tab v-for="item in items" :key="item.tab">{{ item.title }}</v-tab>
      </v-tabs>
    </PageHeader>
    <PageContent :disabled="allLoading" :width="500">
      <v-tabs-items v-model="tab" class="mt-n3">
        <v-tab-item key="One">
          <v-textarea
            auto-grow
            v-model="form.backup"
            :disabled="allLoading"
            single-line
            ref="phrase"
            rows="1"
            label="Secret phrase"
            hint="The 12-word phrase you wrote down"
          />
          <v-text-field
            v-model="form.path"
            :disabled="allLoading"
            single-line
            label="Derivation path (optional)"
            hint="Looks something like m/44/13371337/0'"
          />
        </v-tab-item>
        <v-tab-item key="Two">
          <v-textarea
            v-model="form.key"
            :disabled="allLoading || !!form.pk"
            :rows="1"
            auto-grow
            ref="pk"
            placeholder="Enter private key"
            hint="64 charachters code that looks something like 4385d7...7faf"
            :append-outer-icon="icons.qrcode"
            @click:append-outer="scanQr"
          />
          <input
            type="file"
            accept="image/png"
            hidden
            ref="qr"
            @change="readQr($event)"
          />
          <div class="pk-actions">
            <small class="half-transparent">OR</small>
            <div>
              <ImageUpload
                ref="key"
                :disabled="allLoading"
                @fileChange="setKey"
                @reset="resetKey()"
                :loading="allLoading"
                accept=".pk"
                :showFileName="true"
                text="Select file"
                :color="null"
                :fileOnly="true"
              />
            </div>
          </div>
        </v-tab-item>
      </v-tabs-items>
    </PageContent>

    <PageFooter :padding="true">
      <v-btn large block :loading="allLoading" color="primary" @click="submit">
        Import
        <v-icon right>arrow_downward</v-icon>
      </v-btn>
    </PageFooter>
  </Page>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import Page from "@/common/components/Page.vue";
import PageHeader from "@/common/components/PageHeader.vue";
import PageFooter from "@/common/components/PageFooter.vue";
import PageContent from "@/common/components/PageContent.vue";
import ImageUpload from "@/common/components/ImageUpload.vue";
import { mapState } from "vuex";
import { HTMLInputEvent, readQr } from "@/common/lib/open-file";
import { getUint8Array } from "@/common/lib/get-base64";
import { Wallet } from "@/common/store/Wallet/Wallet";
import { addTimeoutToPromise, handleError } from "@/common/lib/error-handling";
import store, { RootState, notify } from "@/common/store";
import { mdiQrcode } from "@mdi/js";
import { toSeedHex } from "bip39-ts";
import { getKeys, validateMnemonic } from "@/common/lib/bip44";
import { getCache, setCache } from "@/common/lib/cache";
import getPlatform, { Platform } from "@/common/lib/get-platform";
import { cordovaReadQr } from "@/common/lib/open-file";
import { forgeTimeout } from "@/common/lib/constants";
import { Network } from "@/common/models/network";

@Component({
  components: {
    Page,
    PageHeader,
    PageFooter,
    PageContent,
    ImageUpload
  },
  computed: {
    ...mapState<RootState>({
      loading: ({ Common }) => Common.Loading.loading,
      forging: ({ Wallet }) => Wallet.forging
    })
  }
})
export default class ImportWallet extends Vue {
  loading!: boolean;
  forging!: boolean;
  isCordova = getPlatform() === Platform.Cordova;
  $refs!: {
    pk: HTMLInputElement;
    qr: HTMLInputElement;
    key: ImageUpload;
  };
  icons = {
    qrcode: mdiQrcode
  };

  qrLoading = false;
  pkLoading = false;

  items = [
    { tab: "One", title: "Secret Phrase" },
    { tab: "Two", title: "Text/File/QR" }
  ];

  defaultForm = {
    backup: "",
    key: "",
    pk: null as File | null,
    qr: null as string | null,
    path: ""
  };

  form = { ...this.defaultForm };
  private tabModel = +getCache("preferedImportMethod", 0);

  set tab(value: number) {
    this.tabModel = value;
    this.form = { ...this.defaultForm };
    setCache("preferedImportMethod", value);
    if (value === 0) {
      setTimeout(() => (this.$refs as any).phrase.focus(), 500);
    }
    if (value === 1) {
      setTimeout(() => (this.$refs as any).pk.focus(), 500);
    }
  }

  get tab() {
    return this.tabModel;
  }

  @Watch("tab")
  reset() {
    this.form = { ...this.defaultForm };
    this.resetKey();
  }

  resetKey() {
    try {
      this.$refs.key.reset();
    } catch {
      // dirty
    }
    this.form.key = "";
    this.form.pk = null;
  }

  mounted() {
    this.tab = +getCache("preferedImportMethod", 0);
    this.$store.commit("Common/stopLoading");
  }

  get allLoading() {
    return this.forging || this.loading || this.qrLoading || this.pkLoading;
  }

  get backup() {
    return this.form.backup;
  }

  set backup(value: string) {
    this.form.backup = value;
  }

  async setKey(file: File | null) {
    this.pkLoading = true;
    let key = "";
    this.form.pk = file;
    if (file) {
      const intArr = await getUint8Array(file);
      const buffer = Buffer.from(intArr as any).toString("hex");
      key = buffer;
    } else {
      this.resetKey();
    }
    this.form.key = key;
    this.pkLoading = false;
    if (key) this.submit();
  }

  async cordovaReadQr() {
    if (getPlatform() !== Platform.Cordova) return;
    try {
      const pk = await cordovaReadQr();
      if (pk && pk.length > 0) {
        this.form.qr = pk;
        this.submit();
      }
    } catch (error) {
      handleError(error, error);
    }
  }

  scanQr() {
    if (this.isCordova) this.cordovaReadQr();
    else this.$refs.qr.click();
  }

  async readQr(event: HTMLInputEvent) {
    const file = event.target.files && event.target.files[0];
    if (file) {
      this.qrLoading = true;
      try {
        const qr = await readQr(file);
        if (qr && qr.data) {
          this.form.qr = qr.data;
          this.submit();
        }
      } catch (error) {
        handleError(error, "Not a valid QR code");
      }
    }
    this.qrLoading = false;
  }

  get privateKey() {
    if (!this.tab || this.tab === 0) {
      if (!this.form.backup) return "";
      try {
        const seedHex: string = toSeedHex(this.form.backup.trim());
        const defaultPath = `m/44'/${
          (store.state.Wallet.network as Network).id
        }'/0'`;
        const { key } = getKeys(seedHex, this.form.path || defaultPath);
        return key.toString("hex");
      } catch (error) {
        return "";
      }
    } else if (this.tab === 1 && this.form.qr) {
      return this.form.qr;
    } else {
      return this.form.key;
    }
  }

  get privateKeyBuffer() {
    return Buffer.from(this.privateKey || "", "hex");
  }

  async submit() {
    const { dispatch, commit, state } = store;

    if (this.tab === 0 && !this.validMnemonic()) {
      return notify({
        text: "Please use a valid secret phrase. Typicallly 12 words",
        duration: 3500,
        type: "error",
        payload: { words: this.trimmedWords }
      });
    }

    try {
      await addTimeoutToPromise(
        dispatch.Wallet.forgeWallet({
          mnemonic: this.form.backup,
          path: this.form.path,
          Uint8ArrayImport: this.privateKeyBuffer
        }),
        forgeTimeout
      );
    } catch (error) {
      commit.Wallet.setForging(false);
      handleError(error, error, 6000);
    } finally {
      this.reset();
    }
  }

  get trimmedWords() {
    return this.form.backup
      .split(" ")
      .map(w => w.trim())
      .filter(w => !!w);
  }

  validMnemonic() {
    const validMnemonic = validateMnemonic(this.trimmedWords.join(" "));
    return validMnemonic;
  }

  get valid() {
    return !!this.form.pk || this.validMnemonic();
  }
}
</script>

<style scoped lang="scss">
.v-tabs-items {
  background: none !important;
}
.v-window-item {
  padding: 0;
}

.pk-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  & > small {
    padding-right: 0.75rem;
  }
}
</style>
