<template>
  <Page>
    <PageContent>
      <div class="text-center pb-2">
        <v-avatar :size="90" @click="$router.push('/wallet')">
          <identicon :size="90" :seed="wallet.addressObj.baddr" />
        </v-avatar>
        <v-list-item-title class="mt-3">{{ wallet.name }}</v-list-item-title>
        <v-btn text small color="primary" @click="changeName"
          >Change Name</v-btn
        >
      </div>

      <v-list class="list--clean">
        <v-divider class="my-1" />

        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle>Network</v-list-item-subtitle>
            <v-list-item-title class="mt-1">{{
              wallet.network.name
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider class="my-1" />
        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle class="d-flex align-center">
              <span @click="menu = true" class="clickable pr-3">Color</span>

              <v-menu
                v-model="menu"
                bottom
                nudge-left="45"
                nudge-top="10"
                :close-on-content-click="false"
              >
                <template v-slot:activator="{ on }">
                  <span
                    :style="{ 'background-color': color }"
                    v-on="on"
                    class="selected-color"
                  />
                </template>
                <v-card>
                  <v-card-text class="pa-0">
                    <v-color-picker
                      :swatches="swatches"
                      show-swatches
                      v-model="color"
                      flat
                    />
                  </v-card-text>
                </v-card>
              </v-menu>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="my-1" />
        <v-subheader class="px-0 mb-n1 mt-2">
          Backup
          <v-spacer />
          <v-btn
            text
            small
            v-if="wallet.backedUp"
            color="success"
            @click="backup"
          >
            Backed up
            <v-icon right>check</v-icon>
          </v-btn>
        </v-subheader>
        <div
          class="clickable mt-2 mb-3"
          v-show="!wallet.backedUp && !wallet.imported"
          @click="backup"
        >
          <backup-warning />
        </div>

        <template v-if="expert && wallet.path">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle class="mb-1"
                >Derivation Path</v-list-item-subtitle
              >
              <v-list-item-title>
                {{ wallet.path }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>

        <v-list-item v-if="key && wallet.path">
          <v-list-item-content>
            <v-list-item-title class="d-flex align-center">
              Secret phrase
              <v-spacer />
              <v-btn
                @click="reveal('phrase')"
                :input-value="panels.phrase"
                class="half-transparent"
                text
                small
              >
                Reveal
                <v-icon v-text="!panels.phrase ? 'lock' : 'lock_open'" right />
              </v-btn>
            </v-list-item-title>
            <v-expand-transition>
              <div v-show="panels.phrase">
                <v-text-field
                  readonly
                  append-icon="file_copy"
                  solo
                  class="has--copy mt-3 mb-n7"
                  label="Address"
                  @click:append="copy(mnemonic)"
                  :value="mnemonic"
                />
              </div>
            </v-expand-transition>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="d-flex align-center">
              Private key
              <v-spacer />
              <v-btn
                @click="reveal('pk')"
                :input-value="panels.pk"
                text
                class="half-transparent"
                small
              >
                Reveal
                <v-icon v-text="!panels.pk ? 'lock' : 'lock_open'" right />
              </v-btn>
            </v-list-item-title>
            <v-expand-transition>
              <div v-show="panels.pk">
                <v-card light class="qr-well" @click="copy(privateKey)">
                  <img class="img-full" :src="qr" :alt="qr" />
                  <v-subheader
                    class="text-center align-center justify-center my-n3"
                    >Private Key</v-subheader
                  >
                  <v-text-field
                    readonly
                    append-icon="file_copy"
                    prepend-inner-icon="cloud_download"
                    solo
                    flat
                    hide-details
                    class="has--copy"
                    label="Privat Key"
                    @click:append="copy(privateKey)"
                    @click:prepend-inner="downloadKey()"
                    :value="privateKey"
                  />
                </v-card>
              </div>
            </v-expand-transition>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </PageContent>

    <PageFooter :padding="true">
      <v-btn color="error" class="mt-2" large outlined block @click="remove">
        Remove Wallet
      </v-btn>
    </PageFooter>
  </Page>
</template>

<script lang="ts">
import { Component, Vue, Emit, Watch } from "vue-property-decorator";
import Page from "@/common/components/Page.vue";
import BackupWarning from "@/common/modules/wallet/components/BackupWarning.vue";
import Identicon from "@/common/modules/wallet/components/Identicon.vue";
import PageContent from "@/common/components/PageContent.vue";
import PageFooter from "@/common/components/PageFooter.vue";
import store, { notify, RootState } from "@/common/store";
import { mapState } from "vuex";
import { Wallet, MasterKey } from "@/common/store/Wallet/Wallet";
import QRCode from "qrcode";
import { colors } from "vuetify/lib";
import { getColor } from "../../../lib/identicon";
import { decrypt } from "@/common/lib/crypto";

@Component({
  computed: {
    ...mapState<RootState>({
      keystore: ({ Wallet }) => Wallet.keystore
    })
  },
  components: {
    Page,
    PageContent,
    PageFooter,
    BackupWarning,
    Identicon
  }
})
export default class Backup extends Vue {
  keystore!: MasterKey[];
  qr = "";
  hex = "";

  colorModel = "#00AA0";
  mask = "!#XXXXXXXX";
  menu = false;
  defaultColor = getColor(this.wallet.addressObj.baddr);
  swatches = [
    [this.defaultColor],
    [this.$vuetify.theme.currentTheme.primary],
    [this.$vuetify.theme.currentTheme.error],
    [this.$vuetify.theme.currentTheme.accent],

    [this.$vuetify.theme.currentTheme.success]
  ];

  get expert() {
    return store.state.Common.Settings.mode === "expert";
  }

  async reveal(key: string) {
    if (this.panels[key]) {
      this.panels[key] = false;
      return;
    }
    try {
      const pin = await store.dispatch.Common.Login.promptPin({
        persistent: false
      });
      this.panels[key] = true;
    } catch {
      // closed dialog
    }
  }

  get color() {
    return (
      this.wallet.color || (this.$vuetify.theme.currentTheme.primary as string)
    );
  }
  set color(value: string) {
    store.commit.Wallet.patchWallet({
      id: this.wallet.id,
      update: { color: value }
    });
    this.$route.meta.toolbarType = value;
  }

  panels = {
    phrase: false,
    pk: false
  };

  async backup() {
    const result = await store.dispatch.Common.Login.promptPin({
      persistent: false
    });
    if (result)
      this.$router.push("/wallet/backup?redirect=" + this.$route.path);
  }

  get wallet() {
    return store.getters.Wallet.wallet as Wallet;
  }

  beforeMount() {
    if (!this.wallet) this.$router.push("/wallets");
  }

  mounted() {
    this.$store.commit("Common/stopLoading");
    const authorizedPanel = this.$route.query.authorizedPanel as string;
    if (authorizedPanel) {
      this.panels[authorizedPanel] = true;
    }
    this.keytoQR();
  }

  get key() {
    return (this.keystore || []).find(k => k.id === this.wallet.masterKeyId);
  }

  downloadKey(key = this.privateKey, name = `${this.wallet.name}.pk`) {
    const { dispatch } = store;
    const payload = { value: key, name, encoding: "hex" };
    dispatch.Common.downloadString(payload);
  }

  downloadQR(qr = this.qr, name = `${this.wallet.name}.png`) {
    const { dispatch } = this.$store;
    dispatch("Common/downloadURL", { url: qr, name });
  }

  copy(str: string) {
    const { dispatch } = this.$store;
    dispatch("Common/copy", str);
  }

  get mnemonic() {
    const pin = store.state.Common.Login.pin;
    if (!pin)
      return "xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx xxxxxx";
    const decrypted = decrypt((this.key as MasterKey).mnemonic, pin);
    return decrypted;
  }

  get privateKey() {
    const pin = store.state.Common.Login.pin;
    if (!pin) return "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";
    return decrypt(this.wallet.key, pin);
  }

  async changeName() {
    const { commit, state } = store;
    const name = await this.$dialog.prompt({
      title: "Enter a new name"
    });
    const exists = state.Wallet.wallets
      .filter(w => w.id !== this.wallet.id)
      .map(w => w.name)
      .find(n => n === name);
    if (!name) {
      return;
    } else if (exists) {
      notify({
        text: "A wallet with this name already exists",
        duration: 2000,
        type: "error"
      });
      this.changeName();
    } else {
      commit.Wallet.patchWallet({ id: this.wallet.id, update: { name } });
    }
  }

  @Watch("wallet")
  async keytoQR() {
    const { dispatch } = this.$store;
    if (!this.wallet) {
      this.qr = "";
    } else {
      this.qr = await dispatch("Common/getQR", this.privateKey);
    }
  }

  remove() {
    const { dispatch } = this.$store;
    dispatch("Wallet/removeWallet", this.wallet);
  }
}
</script>

<style lang="scss" scoped>
.animate-blur {
  transition: background 0.3s ease, filter 0.3s ease;
}
.unrevealed {
  filter: blur(10px);
  opacity: 0.5;
  pointer-events: none;
}
</style>

<style>
.selected-color {
  cursor: pointer;
  height: 27px;
  width: 27px;
  border-radius: 50%;
  display: inline-block;
}
</style>
