<template>
  <Page>
    <PageHeader
      class="text-center"
      :color="
        tx.msg_type === 0 ? 'success' : tx.msg_type === 2 ? 'primary' : 'accent'
      "
    >
      <v-avatar class="avatar mt-2 " size="55">
        <v-icon v-if="tx.msg_type === 2" v-text="'send'" />
        <v-icon v-if="tx.msg_type === 0" v-text="'call_received'" />
        <v-icon v-if="tx.msg_type === 1" v-text="'call_received'" />
        <v-icon v-if="tx.msg_type === 3" v-text="'call_made'" />
      </v-avatar>

      <div
        class="text-center subtitle-1 my-2 mb-0 white--text slightly-transparent"
      >
        <span v-if="tx.msg_type === 0">received</span>
        <span v-if="tx.msg_type === 3">sent</span>
        <span v-if="tx.msg_type === 1">incoming</span>
        <span v-if="tx.msg_type === 2">outgoing</span>
      </div>

      <v-list two-line subheader class="list--clean mb-n5" v-if="tx.value">
        <v-list-item>
          <v-list-item-content class="total-amount">
            <v-list-item-title class="my-3 total-amount__amount">
              {{ tx.msg_type === 0 ? "+" : "" }}{{ tx.value | gram(true, "") }}
              <small class="mt-n1">{{ wallet.network.symbol }}</small>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </PageHeader>

    <PageContent>
      <pre>{{ tx }}</pre>
      <v-list v-if="tx" class="list--clean">
        <template v-if="tx.msg_type === 2 || tx.msg_type === 0">
          <v-list-item>
            <v-list-item-content class="overflow-initial">
              <v-list-item-subtitle
                class="d-flex align-center overflow-initial"
              >
                <span v-text="tx.msg_type === 0 ? 'From' : 'To'"></span>
                <v-spacer />
                <v-btn
                  small
                  text
                  class="mr-n3 half-transparent"
                  @click="sendTo(tx.msg_type === 0 ? tx.src : tx.dst)"
                >
                  Send
                  <v-icon x-small class="ml-1" v-text="'send'" />
                </v-btn>
              </v-list-item-subtitle>
              <v-text-field
                readonly
                append-icon="file_copy"
                solo
                class="has--copy mb-n7 mt-2"
                label="Address"
                @click:append="copy(tx.msg_type === 0 ? tx.src : tx.dst)"
                :value="tx.msg_type === 0 ? tx.src : tx.dst"
              />
            </v-list-item-content>
          </v-list-item>
          <v-divider class="my-1" />
        </template>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle v-text="'Time'" />
            <v-list-item-title class="mt-2">
              {{ (tx.created_at * 1000) | time }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="my-1" />

        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle v-text="'Transaction ID'" />
            <v-text-field
              readonly
              append-icon="file_copy"
              solo
              class="has--copy mb-n7 mt-2"
              label="Address"
              @click:append="copy(tx.id)"
              :value="tx.id"
            />
          </v-list-item-content>
        </v-list-item>
        <v-divider class="my-1" />

        <v-list-item>
          <v-list-item-content>
            <v-list-item-subtitle v-text="'Network'" />
            <v-list-item-title class="mt-2">
              {{ wallet.network.name }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider class="my-1" />
        <template v-if="expert">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle
                v-text="'Message'"
                class="clickable"
                @click="panels.message = !panels.message"
              />
            </v-list-item-content>

            <v-list-item-action class="text-center mb-auto mt-2">
              <v-btn
                icon
                @click="togglePanel('message')"
                class="slightly-transparent"
              >
                <v-icon v-text="'keyboard_arrow_down'" />
              </v-btn>
            </v-list-item-action>
          </v-list-item>
          <v-expand-transition>
            <v-card class="mt-0 mb-4" v-show="panels.message">
              <v-card-text>
                <pre>{{ tx.body }}</pre>
              </v-card-text>
            </v-card>
          </v-expand-transition>
          <v-divider class="my-1" />

          <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle
                class="clickable"
                v-text="'Transaction'"
                @click="panels.transaction = !panels.transaction"
              />
            </v-list-item-content>

            <v-list-item-action class="text-center mb-auto mt-2">
              <v-btn
                icon
                @click="togglePanel('transaction')"
                class="slightly-transparent"
              >
                <v-icon v-text="'keyboard_arrow_down'" />
              </v-btn>
            </v-list-item-action>
          </v-list-item>
          <v-expand-transition>
            <v-card class="mt-0 mb-4" v-show="panels.transaction">
              <v-card-text>
                <pre>{{ tx.status_name }}</pre>
              </v-card-text>
            </v-card>
          </v-expand-transition>
          <v-divider class="my-1" />

          <!-- <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle
                class="clickable"
                v-text="'Block'"
                @click="panels.block = !panels.block"
              />
            </v-list-item-content>

            <v-list-item-action class="text-center mb-auto mt-2">
              <v-btn
                icon
                @click="togglePanel('block')"
                class="slightly-transparent"
              >
                <v-icon v-text="'keyboard_arrow_down'" />
              </v-btn>
            </v-list-item-action>
          </v-list-item>
          <v-expand-transition>
            <v-card class="mt-0 mb-4" v-show="panels.block">
              <v-card-text>
                <pre>{{ transaction.block }}</pre>
              </v-card-text>
            </v-card>
          </v-expand-transition>
          <v-divider class="my-1" /> -->
        </template>
      </v-list>
    </PageContent>

    <PageFooter :padding="true">
      <v-btn color="primary" large block name="wallet-receive" @click="explore">
        Explore
        <v-icon v-text="'explore'" right />
      </v-btn>
    </PageFooter>
  </Page>
</template>

<script lang="ts">
import { Component, Vue, Emit, Watch } from "vue-property-decorator";
import Page from "@/common/components/Page.vue";
import PageContent from "@/common/components/PageContent.vue";
import PageFooter from "@/common/components/PageFooter.vue";
import PageHeader from "@/common/components/PageHeader.vue";
import store, { notify } from "@/common/store";
import { Transaction as TransactionModel } from "@/common/models/transaction";
import { gram, time } from "@/common/lib/format";
import { Wallet, PendingTransaction } from "@/common/store/Wallet/Wallet";
import { symbol } from "@/common/lib/constants";
import { Network } from "../../../models/network";
import { Tx } from "@/common/sdk";

@Component({
  filters: {
    gram,
    time
  },
  components: {
    Page,
    PageContent,
    PageFooter,
    PageHeader
  }
})
export default class Transaction extends Vue {
  symbol = symbol;

  panels = {
    message: false,
    transaction: false,
    block: false
  };

  get tx() {
    const { state } = store;
    return state.Wallet.transaction as Tx;
  }

  get wallet() {
    const { getters } = store;
    return getters.Wallet.wallet as Wallet;
  }

  mounted() {
    const { commit } = store;
    commit.Common.stopLoading();
  }

  beforeRouteLeave(to, from, next) {
    const { commit } = store;
    commit.Wallet.setTransaction(null);
  }

  copy(str: string) {
    const { dispatch } = store;
    dispatch.Common.copy(str);
  }

  togglePanel(key: string) {
    this.panels[key] = !this.panels[key];
  }

  get expert() {
    const { state } = store;
    return state.Common.Settings.mode === "expert";
  }

  explore() {
    const url = (this.wallet.network as Network).blockExplorerURL;

    window.open(url, "_blank");
  }

  sendTo(addr: string) {
    const { commit } = store;
    commit.Wallet.setPendingTransaction({
      amount: null,
      fromAddr: this.wallet.addressObj.baddr,
      toAddr: addr
    } as PendingTransaction);
    this.$router.push("/wallet/send");
  }

  submit() {
    notify({
      text: "Submitting works!",
      type: "success",
      duration: Infinity,
      payload: {
        foo: "bar"
      }
    });
  }
}
</script>

<style scoped lang="scss">
pre {
  overflow: auto;
}

.avatar {
  border: 1px solid rgba(white, 0.3);
}

.is--flipped {
  transform: scaleX(-1);
}
</style>
