<template>
  <Page>
    <span class="subtitle" v-if="wallets.length > 0">Total Balance</span>
    <PageHeader :width="500" v-if="wallets.length > 0">
      <v-list two-line subheader class="list--clean pa-0 text-center">
        <v-list-item>
          <v-list-item-content class="total-amount">
            <v-list-item-title class="mt-6 mb-0 total-amount__amount">
              {{ balance | gram(true, "")
              }}<small class="ml-n2">{{ network.symbol }}</small>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </PageHeader>
    <PageContent :width="500" :flex="wallets.length < 1">
      <div class="box ma-auto" v-if="wallets.length < 1">
        <div class="box__content">
          <div class="display-2 mb-4">TigerBee</div>

          <div class="symbol">🐯🐝</div>

          <div class="body-1 mt-2 slightly-transparent">
            Send coins
            <br />Easy and secure
          </div>
        </div>
      </div>

      <WalletItem
        v-for="(wallet, i) of wallets"
        :wallet="wallet"
        :key="i"
        :inset="true"
        :divider="i !== 0"
        @open="open"
      />
    </PageContent>

    <PageFooter :padding="true">
      <v-btn block large color="primary" @click="sheet = true">
        <v-icon left>add</v-icon> Add
      </v-btn>
    </PageFooter>

    <v-bottom-sheet v-model="sheet">
      <v-list>
        <v-subheader inset>Options</v-subheader>
        <v-list>
          <v-list-item @click="createWallet">
            <v-list-item-icon>
              <v-icon>add</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Create wallet</v-list-item-title>
            <!-- <v-btn @click="createWallet" block large color="primary"
              >Create</v-btn
            >-->
          </v-list-item>

          <v-list-item @click="importWallet">
            <v-list-item-icon>
              <v-icon>arrow_downward</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Import existing</v-list-item-title>
            <!-- <v-btn @click="importWallet" block color="primary" outlined
              >Import</v-btn
            >-->
          </v-list-item>
        </v-list>
      </v-list>
    </v-bottom-sheet>
  </Page>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import Page from "@/common/components/Page.vue";
import PageFooter from "@/common/components/PageFooter.vue";
import PageHeader from "@/common/components/PageHeader.vue";
import PageContent from "@/common/components/PageContent.vue";
import { mapState, mapGetters } from "vuex";
import { WalletState, Wallet, MasterKey } from "@/common/store/Wallet/Wallet";
import WalletItem from "@/common/modules/wallet/components/WalletItem.vue";
import store, { notify, RootState } from "@/common/store";
import { symbol } from "@/common/lib/constants";
import { gram } from "../../../lib/format";
import { Network } from "../../../models/network";

interface WalletByKey {
  key: MasterKey;
  wallets: Wallet[];
}

@Component({
  filters: {
    gram
  },
  components: {
    Page,
    PageFooter,
    PageHeader,
    PageContent,
    WalletItem
  },
  computed: {
    ...mapState<RootState>({
      updating: ({ Wallet }) => Wallet.updatingAll,
      wallets: ({ Wallet }) => Wallet.wallets,
      network: ({ Wallet }) => Wallet.network
    }),
    ...mapGetters(["Wallet"])
  }
})
export default class WalletCreated extends Vue {
  wallets!: Wallet[];
  updating!: boolean;
  symbol = symbol;
  sheet = false;
  network?: Network;

  mounted() {
    const { commit } = store;
    store.commit.Common.stopLoading();
    setTimeout(this.update, 500);
  }

  @Watch("wallets", { deep: true })
  setBar() {
    this.$route.meta.flat = this.wallets.length > 0;
  }

  get balance() {
    return this.wallets.map(w => w.balance).reduce((a, b) => +a + +b, 0);
  }

  async update() {
    const { dispatch } = store;
    await dispatch.Wallet.updateWallets();
  }

  async importWallet(key: string) {
    this.$router.push({
      path: "/wallet/import"
    });
  }

  async createWallet() {
    this.$router.push("/wallet/create");
  }

  open(wallet: Wallet) {
    const { commit } = store;
    store.commit.Wallet.setWallet(wallet);
    this.$router.push({
      path: "/wallet"
    });
  }
}
</script>

<style scoped lang="scss">
.subtitle {
  position: absolute;
  text-align: center;
  font-size: 15px;
  color: rgba(white, 0.75);
  font-weight: 500;
  top: -0.65rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 19;
}
.box {
  max-width: 350px;
  margin: auto;
  text-align: center;
}
.symbol {
  font-size: 18vw;

  @media screen and (min-width: 800px) {
    font-size: 8rem;
  }
}
</style>
