<template>
  <Page v-if="wallet && wallet.id">
    <PageHeader :width="500" :background="$route.meta.toolbarType || ''">
      <v-list two-line subheader class="list--clean pa-0 text-center">
        <v-list-item>
          <v-list-item-content class="total-amount">
            <v-list-item-title class="mt-1 total-amount__amount">
              {{ wallet.balance | gram(true, "")
              }}<small class="ml-n2">{{ wallet.network.symbol }}</small>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-row class="actions px-3 mt-3" dense>
        <v-col>
          <v-btn
            large
            depressed
            outlined
            block
            class="type--outline"
            name="wallet-send"
            @click="send(wallet)"
            :loading="loading"
          >
            Send
            <v-icon small right>send</v-icon>
          </v-btn>
        </v-col>
        <v-col>
          <v-btn
            large
            dark
            block
            outlined
            class="d-flex type--outline"
            name="wallet-receive"
            @click="receive(wallet)"
            :loading="loading"
          >
            <v-icon left small>call_received</v-icon>Receive
          </v-btn>
        </v-col>
      </v-row>
    </PageHeader>

    <PageContent :width="500">
      <v-expand-transition>
        <div
          @click="backup"
          class="mb-6 clickable"
          v-show="!wallet.backedUp && !wallet.imported"
        >
          <backup-warning />
        </div>
      </v-expand-transition>

      <v-subheader class="px-0">
        Transaction History
        <v-spacer />
        <v-btn @click="update" small text class="half-transparent mr-n1">
          update
          <v-icon
            right
            v-text="'refresh'"
            class="ml-1"
            :class="{ 'unclickable spin': updating }"
          />
        </v-btn>
      </v-subheader>

      <p
        class="half-transparent py-6 ma-0 text-center"
        v-if="transactions.length < 1"
      >
        <span v-if="updating">Updating transactions...</span>
        <span v-else>Make your first transaction...</span>
      </p>

      <v-list two-line subheader color="transparent" v-else class="list--clean">
        <div
          @click="openTransaction(transaction)"
          v-for="(transaction, i) of transactions"
          :key="i"
        >
          <TransactionItem
            :transaction="transaction"
            :symbol="wallet.network.symbol"
            :divider="i !== 0"
          />
        </div>
      </v-list>
    </PageContent>
    <PageFooter :padding="true">
      <v-btn block large :disabled="loading" to="/wallet/settings">
        Settings
        <v-icon right>settings</v-icon>
      </v-btn>
    </PageFooter>
  </Page>
</template>
<style lang="scss" scoped></style>

<script lang="ts">
import { Component, Vue, Emit, Watch } from "vue-property-decorator";
import { mapState, mapGetters } from "vuex";
import {
  WalletState,
  Wallet as WalletModel,
  getAccount
} from "@/common/store/Wallet/Wallet";
import { LoadingState } from "@/common/store/Common/Loading";
import { gram } from "@/common/lib/format";
import TransactionItem from "@/common/modules/wallet/components/TransactionItem.vue";
import BackupWarning from "@/common/modules/wallet/components/BackupWarning.vue";
import Page from "@/common/components/Page.vue";
import PageFooter from "@/common/components/PageFooter.vue";
import PageContent from "@/common/components/PageContent.vue";
import PageHeader from "@/common/components/PageHeader.vue";
import {
  handleError,
  handleTimeout,
  addTimeoutToPromise
} from "@/common/lib/error-handling";
import store, { RootState, notify } from "@/common/store";
import { mdiQrcode } from "@mdi/js";
import stoe from "@/common/store";
import { client } from "../../../store/TonKit/TonKit";
import { symbol } from "@/common/lib/constants";
import { Transaction } from "@/common/models/transaction";
import { getTxHistory, getAccount as getAccount2, Tx } from "@/common/sdk";

@Component({
  filters: {
    gram: gram
  },
  components: {
    TransactionItem,
    Page,
    PageFooter,
    PageHeader,
    PageContent,
    BackupWarning
  },
  computed: {
    ...mapState<RootState>({
      loading: ({ Common }) => Common.Loading.loading,
      updating: ({ Wallet }) => Wallet.updating,
      TonKit: ({ TonKit }) => TonKit
    })
  }
})
export default class Wallet extends Vue {
  loading!: boolean;
  icons = {
    qrcode: mdiQrcode
  };
  TonKit!: RootState["TonKit"];
  updating!: boolean;
  symbol = symbol;

  get wallet() {
    const { getters } = store;
    return getters.Wallet.wallet as WalletModel;
  }

  async remove() {
    const { dispatch } = this.$store;
    dispatch("Wallet/removeWallet", this.wallet);
  }

  beforeMount() {
    if (!this.wallet || !this.wallet.id) {
      this.$router.push({
        path: "/wallets"
      });
    }
  }

  async mounted() {
    const { commit, dispatch, state, direct } = this.$store;
    this.update();
    commit("Common/stopLoading");
  }

  copy(str: string) {
    const { dispatch } = this.$store;
    this.$store.dispatch("Common/copy", str).catch(() => {
      notify({
        text: "Couldn't copy",
        type: "error",
        duration: 1500,
        payload: { str }
      });
    });
  }

  send(wallet: Wallet) {
    this.$router.push("/wallet/send");
  }

  receive(wallet: Wallet) {
    this.$router.push({
      path: "/wallet/receive"
    });
  }

  async backup() {
    const result = await store.dispatch.Common.Login.promptPin({
      persistent: false
    });
    if (result)
      this.$router.push("/wallet/backup?redirect=" + this.$route.path);
  }

  async update() {
    const { dispatch, commit } = this.$store;
    dispatch("Wallet/updateWallet");
  }

  openTransaction(transaction: Tx) {
    const { commit } = store;
    commit.Wallet.setTransaction(transaction);
    this.$router.push("/wallet/transaction");
  }

  get expert() {
    const { state } = store;
    return state.Common.Settings.mode === "expert";
  }

  get transactions() {
    if (!this.wallet || !this.wallet.transactions) return [];
    return [...this.wallet.transactions].reverse();
  }
}
</script>

<style lang="scss" scoped>
.actions {
  display: flex;
  flex-direction: row;

  .v-btn {
    border-color: rgba(white, 0.4) !important;
  }
  @media screen and (max-width: 960px) {
    .v-btn.v-size--large {
      padding: 0 16px;
    }
  }

  @media screen and (max-width: 600px) {
    .v-btn.v-size--large {
      padding: 0 12.5px;
    }
  }
}

.is--flipped {
  transform: scaleX(-1);
}
</style>
