<template>
  <div
    class="main-content"
    :data-show-toolbar="$route.meta.showToolbar ? 'true' : 'false'"
    :data-loading="loading ? 'true' : 'false'"
    :data-help-mode="help.open ? 'true' : 'false'"
    :data-help-step="activeHelpStep.id"
    :data-help-overlay="activeHelpStep.overlay ? 'true' : 'false'"
  >
    <v-app>
      <LoadingOverlay />
      <NavBar />
      <aside class="notifications">
        <div
          v-for="notification of drawerOpen
            ? []
            : [...notifications].reverse().slice(0, 30)"
          :key="notification.id"
          class="clickable"
          style="opacity: .9"
          @click="dismiss(notification.id)"
        >
          <Notification
            :notification="notification"
            :show="!notification.timeDismissed"
            :elevation="5"
          />
        </div>
      </aside>

      <div class="main-content__wrap">
        <div class="main-content__wrap__help">
          <Help />
        </div>

        <transition name="page" mode="out-in">
          <router-view class="main-content__wrap__view" />
        </transition>

        <div class="main-content__wrap__loader">
          <v-progress-circular :size="55" indeterminate color="yellow" />
        </div>
      </div>

      <!-- modals -->
      <div>
        <BaseDialog
          v-model="modals.network"
          title="Add Network"
          :width="600"
          @back="openModal('network')"
          name="modal-network"
        >
          <AddNetwork @submit="addNetwork" />
        </BaseDialog>

        <v-dialog v-model="pinDialog" fullscreen persistent>
          <pin-flow />
        </v-dialog>
      </div>
    </v-app>
  </div>
</template>

<script lang="ts">
import "reflect-metadata";
import BaseDialog from "@/common/components/BaseDialog.vue";
import NavBar from "@/common/components/NavBar.vue";
import PinFlow from "@/common/containers/PinFlow.vue";
import { Component, Vue } from "vue-property-decorator";
import omit from "lodash/omit";
import { mapState } from "vuex";
import getPlatform, { Platform } from "./common/lib/get-platform";
import Notification from "@/common/components/Notification.vue";
import Help from "@/common/components/Help.vue";
import LoadingOverlay from "@/common/components/LoadingOverlay.vue";
import AddNetwork from "@/common/modules/wallet/components/AddNetwork.vue";

import { handleError } from "@/common/lib/error-handling";
import store, { RootState, notify } from "./common/store";
import { Network } from "./common/models/network";
import { makeid } from "./common/lib/makeid";
import { Wallet } from "./common/store/Wallet/Wallet";
const { state, commit, dispatch, getters } = store;
import TONClient from "@/common/components/TONClient.vue";

@Component({
  components: {
    BaseDialog,
    Notification,
    NavBar,
    LoadingOverlay,
    AddNetwork,
    Help,
    PinFlow
  },
  computed: {
    ...mapState<RootState>({
      platform: state => state.TappletLauncher.platform,
      wallet: state => state.Wallet.wallet,
      drawerOpen: state => state.Common.NavBar.drawerOpen,
      loading: state => state.Common.Loading.loading,
      notifications: state => state.Common.Notifications.notifications
    })
  }
})
export default class App extends Vue {
  get pinDialog() {
    return store.state.Common.Login.pinDialog;
  }
  set pinDialog(value) {
    store.commit.Common.Login.setPinDialog(value);
  }

  platform!: Platform;
  wallet!: Wallet;
  drawerOpen!: boolean;
  appTimer: any;
  pollTimer: any;
  notification: any;
  loading!: boolean;

  destroyed() {
    if (this.platform === Platform.Cordova) {
      this.$store.dispatch("TappletLauncher/stopServer");
    }

    clearInterval(this.appTimer);
    clearInterval(this.pollTimer);
  }

  async mounted() {
    const { dispatch, commit, state } = this.$store;

    console.log("[platform]", getPlatform());
    this.appTimer = setInterval(this.timer, 1000);
    this.pollTimer = setInterval(this.poll, 1000 * 60 * 3);
    this.timer();
    this.poll();
    dispatch("Common/Notifications/dismissAll");
    dispatch("Common/Settings/initTheme");

    if (state.Console.logging) commit("Console/enableLogging");

    if (this.platform === Platform.Cordova) {
      const cb = async () => {
        await dispatch("TappletLauncher/setFs");
        const url = await dispatch("TappletLauncher/startServer", {
          www_root: "tapplets",
          port: 3000 + Math.round(Math.random() * 100),
          localhost_only: false
        });
        console.log("[startServer]", url);
      };
    }
  }

  get help() {
    // get help :)
    return state.Common.Help;
  }

  get activeHelpStep() {
    return getters.Common.Help.activeHelpStep;
  }

  createModals = (vm = this) => ({
    get network() {
      return vm.isOpenModal("network");
    },
    set network(open: boolean) {
      open ? vm.openModal("network") : vm.closeModal("network");
    }
  });

  modals = this.createModals();

  isOpenModal(name: string) {
    const q = this.$route.query;
    return !!(q && q.modal && q.modal === name);
  }

  addNetwork(network: Network) {
    const { commit, state } = this.$store;
    const newNetwork = { ...network, id: makeid(20) };
    commit("Wallet/addNetwork", newNetwork);
    this.closeModal("network");
  }

  poll() {
    const { dispatch } = this.$store;
    console.log("[polling] Updating wallets...");
    dispatch("Wallet/updateWallets");
  }

  async timer() {
    const { commit, state, dispatch } = this.$store;
    const oldVal = state.Common.Loading.online;
    const { onLine } = navigator;

    if (oldVal !== onLine) {
      if (this.notification) this.notification.dismiss();
      commit("Common/setOnline", onLine);
      const { notification } = !onLine
        ? await handleError(
            { onLine },
            "You're offline. Make sure you're connected to the internet and try again.",
            2500,
            true
          )
        : await notify({
            text: "You're back online",
            type: "success",
            duration: 2500,
            payload: { onLine }
          });
      if (onLine) this.$router.back();
      this.notification = notification;
    }
  }

  openModal(name: string) {
    if (this.isOpenModal(name)) return;
    this.$router.push({ query: { modal: name } });
  }

  closeModal(name: string, params: string[] = []) {
    if (!this.isOpenModal(name)) return;
    const query = omit(this.$route.query, "modal", ...params);
    this.$router.replace({ query });
    this.$store.dispatch("Common/playWoosh");
  }

  dismiss(id: string) {
    this.$store.commit("Common/Notifications/dismiss", id);
    this.$store.dispatch("Common/playWoosh");
  }
}
</script>

<style lang="scss">
.page {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.25s, transform 0.25s;
    overflow: hidden;
  }

  &-enter,
  &-leave-active {
    opacity: 0;
    transform: translateX(-30%);
    overflow: hidden;
  }
}
</style>

<style lang="scss" scoped>
.notifications {
  position: fixed;
  width: 100%;
  max-width: 300px;
  top: 1rem;
  right: 1rem;
  z-index: 9200;
}

.main-content {
  &__wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: padding 0.3s ease;

    [data-show-toolbar="true"] & {
      padding-top: 56px;

      @media screen and (min-width: 900px) {
        padding-top: 64px;
      }
    }

    &__loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}
</style>
