
      @keyframes pulse1 {
        0% {
          transform: scale(0);
        }
        40% {
          transform: scale(0.3);
          opacity: 1;
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      }