.textarea {
    box-shadow: none!important;
    outline: none!important;
    appearance: none;
    font-size: inherit;
    font: inherit;
    color: inherit;
    display: block;
    width: 100%;
    border-radius: var(--radius);
    background: rgba(0,0,0,0.05);
    border: 1px solid var(--color-border);
    color: var(--color-text-dim-2);
    padding: rem(11);
    resize: none;
    transition: .3s ease-in-out;

    &::placeholder {
        font: inherit;
        color: rgba(white, .45);
        font-size: 1rem;
    }

    &:hover {
        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.25);
    }

    &:focus {
        border-color: var(--color-secondary);
        background: rgba(0, 0, 0, 0.15);
        color: white;
    }
}