<script lang="ts">
import { Component, Vue, Emit } from "vue-property-decorator";
import { mapState } from "vuex";
import { join } from "path";
import PageContent from "@/common/components/PageContent.vue";
import Page from "@/common/components/Page.vue";
import PageFooter from "@/common/components/PageFooter.vue";
import { NotificationsState } from "@/common/store/Common/Notifications";
import { LoadingState } from "@/common/store/Common/Loading";
import { Notification as NotificationModel } from "@/common/models/notification";
import store, { RootState, notify } from "@/common/store";
import { handleError } from "@/common/lib/error-handling";

@Component({
  computed: {
    ...mapState<RootState>({
      loading: state => state.Common.Loading.loading,
      notifications: state => state.Common.Notifications.notifications
    })
  },
  components: {
    Page,
    PageContent,
    PageFooter
  }
})
export default class Builder extends Vue {
  notifications!: NotificationModel[];
  notifyData = {
    text: "Hello World",
    type: "error",
    duration: 3000,
    payload: {
      error: "custom error data"
    } as any
  };
  fiftObj: any;
  fiftLoading = false;
  fiftCommands = `["-I/tmp/fiftlib:/tmp/smartcont","-s","/tmp/smartcont/new-testgiver.fif","0"]`;
  funcObj: any;
  funcLoading = false;
  funcCommands = `["/tmp/smartcont/wallet3-code.fc"]`;
  lcObj: any;
  lcLoading = false;
  lcCommands = `[]`;
  assetPath = "../../assets/wasm";
  lcKey = "";
  lcIp = "";

  get nextHelpStep() {
    const { dispatch } = store;
    return dispatch.Common.Help.nextHelpStep;
  }

  async mounted() {
    const { commit, dispatch, state } = this.$store;
    commit("Common/stopLoading");
  }

  async testFift(cmds) {
    this.fiftLoading = true;
    handleError({}, "TON WASM ripped out");
    this.fiftLoading = false;
  }

  async testFunc(cmds) {
    this.funcLoading = true;
    handleError({}, "TON WASM ripped out");
    this.funcLoading = false;
  }

  async testLC(cmds: string, pubkeyData: string) {
    const pubkeyBinary = new TextEncoder().encode(pubkeyData);

    this.lcLoading = true;
    handleError({ pubkeyBinary }, "TON WASM ripped out");
    this.lcLoading = false;
  }

  async submit() {
    this.$store.dispatch("Common/Notifications/notify", {
      type: "success",
      text: "Submitted works!",
      duration: 1500
    });
  }
}
</script>

<template>
  <Page>
    <PageContent>
      <div>
        <v-textarea
          v-model="fiftCommands"
          class="mono"
          label="Fift Commands"
          rows="6"
        />
        <v-btn
          color="primary"
          :loading="fiftLoading"
          :disabled="fiftLoading"
          @click="testFift(fiftCommands)"
          >Test Fift Commands</v-btn
        >
      </div>

      <div>
        <v-textarea
          v-model="funcCommands"
          label="Func Commands"
          rows="6"
          class="mono"
        />
        <v-btn
          color="primary"
          :loading="funcLoading"
          :disabled="funcLoading"
          @click="testFunc(funcCommands)"
          >Test Func Commands</v-btn
        >
      </div>

      <div>
        <v-textarea
          v-model="lcCommands"
          label="Fift Commands"
          rows="6"
          class="mono"
        />
        <div>
          IP:PORT:
          <v-text-field v-model="lcIp" label="Text" />
        </div>
        <div>
          Pubkey:
          <v-text-field v-model="lcKey" label="Text" />
        </div>
        <v-btn
          color="primary"
          :loading="lcLoading"
          :disabled="lcLoading"
          @click="testLC(lcCommands, lcKey)"
          >Test Lite-Client Commands</v-btn
        >
      </div>
    </PageContent>
    <PageFooter :padding="true">
      <v-btn
        :loading="loading"
        color="primary"
        large
        block
        @click="submit"
        name="tonkit-submit"
        >Submit</v-btn
      >
    </PageFooter>
  </Page>
</template>

<style lang="scss" scoped></style>
